<h1><%= board.escape('title') %></h1>
<h2>Lists</h2>
<ul class='list-list'>
</ul>

<form class='list-adder'>
  <input type='text' name='title' value='Add a list!'>
  <input type='submit' value='Create List'>
</div>
