<form class='list-adder-form'>
  <input class='list-adder-prompt' type='text' name='title' value='Add a list!'>
  <input type='hidden' name='board_id' value='<%=board.id%>'>
  <input type='submit' value='Create List'>
</div>
