<li class='list'>
  <%= list.escape('title') %>
  <ul class='card-list sortable'>
  </ul>
  <div class="card-adder">
    Add a card...
  </div>
</li>
<br>
<button class='delete-list'>Delete List</button>
